@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.wrapper {
    width: 72.33%;
    margin: 60px auto 0;
    background: linear-gradient(to right, #FD749B, #281AC8);
    border-radius: 30px; /* Скругление углов */
    padding: 1px; /* Толщина рамки */
}

header {
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.67vw;
    height: 132px;
}

.logo img {
    margin-top: 22px;
    width: 142px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 28.4vw;
}
.header-menu div {
    position: relative; /* Для позиционирования псевдоэлемента */
}

.header-menu a {
    text-decoration: none;
    color: #333;
    padding: 10px 0;
}
.header-menu_blog::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px; /* Толщина линии подчеркивания */
    background-color: #FD749B; /* Цвет подчеркивания */
    position: absolute;
    bottom: -5px; /* Расположение линии под ссылкой */
    left: 0;
}

.header-list {
    width: 23.33vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-button {
    padding: 17px 56px;
    border-radius: 100px;
    background: var(--3, linear-gradient(178deg, #FD749B -13.56%, #281AC8 158.3%));
    color: #fff;
    border: none;
    font-weight: bold;
    transition: 0.7s;
}
.main-button:hover {
    size: 110%;
    border-radius: 0;
    background: #5C5C5C;
}

/* SELECT */
.select {
    height: 100%;
    position: relative;
    
    margin-top: 10px;
    padding-bottom: 10px;
}
.select__button {
    position: relative;
    display: block;
    width: 190px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
}
.select__button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-width: 10.4px 6px 0 6px;
    border-color: #333 transparent transparent transparent;
    border-style: solid;
    pointer-events: none;
}
.select__list {
    display: none; /* Скрываем список по умолчанию */
    position: absolute;
    left: 0;
    top: 100%; /* Располагаем список под кнопкой */
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 6px;
    width: 200px;
    z-index: 1;
} 
.select--active .select__list { /* Показываем список, если у .select есть класс select--active */
    display: block;
}
.select__list-item {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #E0E0E0;
    border-bottom: 0px;
    padding: 13px 20px;
    background-color: #fff;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
}
.select__list-item:first-child {
    border-radius: 6px 6px 0 0;
}
.select__list-item:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #E0E0E0;
}

.select__list-item:hover,
.select__list-item:focus {
    background: linear-gradient(to bottom, #fd749bc7, #281ac8c1);
    outline: 0;
}
.select__input-hidden {
    display: none;
}

/* Блок HERO */
.hero {
    position: relative;
    height: 730px;
}
.hero-background img {
    position: absolute;
    height: 110%;
    width: 100%;
}

.hero-blocks {
    display: flex;
    justify-content: space-between;
}

.hero-info {
    padding-top: 152px;
    width: 415px;
    color: #fff;
}

.hero-info-prew {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 16px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-info-last {
    font-size: 18px;
    font-weight: 400;
}

.hero-wrapper {
    width: 72.33%;
    margin: 0 auto;
    position: relative;
}
.hero-image {
    margin-top: 28px;
}

/* Блоки DISCOVER, PRODUCTS, ethToNaira */
.discover-blocks,
.products-blocks,
.ethToNaira-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white; /* Цвет фона внутри рамки */
    border-radius: 29px; /* Скругление углов внутреннего блока */
}

.discover-blocks img, .products-blocks img, .ethToNaira-blocks img{
    width: 100.5%;
    margin-top: -2.5px;
    border-radius: 30px 30px 0 0 ;
}

.discover-text, .products-text, .ethToNaira-text {
    text-align: center;
    padding-top: 60px;
    width: 870px;
}
.discover-text-title, .products-text-title, .ethToNaira-text-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px; /* 140.625% */
    background: var(--3, linear-gradient(178deg, #FD749B -13.56%, #281AC8 158.3%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.discover-text-data, .products-text-data, .ethToNaira-text-data {
    padding-top: 15px;
    color: #333;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px; 
}
.discover-text-description, .products-text-description, .ethToNaira {
    padding-top: 29px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.main-button_container {
    padding-top: 46px;
    margin-bottom: 39px;
}

/* Блок BUTTONS */
.buttons-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
    width: 25%;
}

.button {
    margin-right: 10px;
}

/* FOOTER */

footer {
    margin-top: 146px;
    padding: 69px 51px 9px 80px;
    background: #151515;
    color:#fff;
    
}

.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-coinBase {
    width: 369px;
    margin-right: 170px;
}

.logo {
    padding-bottom: 34.39px;
}

.footer-coinBase-text {
    padding-bottom: 18px;
    color: #A2A2A2;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.footer-coinBaseLinks, .footer-contactUs {
    color: #A2A2A2;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 63px;
}

.footer-coinBaseLinks h2, .footer-contactUs h2, .footer-coinBaseInstagram h2 {
    font-weight: 400;
    padding-bottom: 30px;
    color: #FFF;
    font-size: 18px;
}

.footer-contactUs {
    line-height: 24px;
}

.coinBaseInstIcons{
    width: 310px;
}

.footer-coinBaseLinks {
    width: 170px;
}

.footer-contactUs{
    width: 226px;
}

.footer-contactUs-app {
    margin-top: 60px;
}

.footer-end {
    padding-top: 44px;
    color: #989898;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px; /* 200% */
}